#wave .dot {
  margin-top: 5px;
  width: 10px;
  height: 10px;
  background: #202326;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 5px);
}

@media (min-width: 768px) {
  #wave .dot {
    width: 15px;
    height: 15px;
  }
}

@media (min-width: 992px) {
  #wave .dot {
    width: 20px;
    height: 20px;
  }
}

#wave .dot1 {
  left: 16%;
  -webkit-animation: dot-jump 1s cubic-bezier(0.77, 0.47, 0.64, 0.28)
  alternate infinite;
  animation: dot-jump 1s cubic-bezier(0.77, 0.47, 0.64, 0.28) alternate
  infinite;
}

#wave .dot2 {
  left: 43%;
  -webkit-animation: dot-jump 1s 0.45s cubic-bezier(0.77, 0.47, 0.64, 0.28)
  alternate infinite;
  animation: dot-jump 1s 0.45s cubic-bezier(0.77, 0.47, 0.64, 0.28) alternate
  infinite;
}

#wave .dot3 {
  left: 70%;
  -webkit-animation: dot-jump 1s 0.9s cubic-bezier(0.77, 0.47, 0.64, 0.28)
  alternate infinite;
  animation: dot-jump 1s 0.9s cubic-bezier(0.77, 0.47, 0.64, 0.28) alternate
  infinite;
}

@-webkit-keyframes dot-jump {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes dot-jump {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
